.index-siteTitle{
    display: inline-block;
    border-bottom: 1px solid;
}

.blog-posts{
    background-color: white;
}

.index-blogLink{
    text-decoration: none;
    color: inherit;
}

.index-blogTitle{
    margin-bottom: 10px;
}

.index-blogDate{
    color: #bbb;
}

pre {
  background: #f3f6fc;
  padding: 20px;
  margin: 10px 0;
  overflow: auto;
}

pre code {
  word-break: break-all;
}

.blogcontent code {
  background: #f3f6fc;
  font-size: 0.98em;
}
blockquote {
  background: #f3f6fc;
  padding: 30px;
}